.testimonials {
  @include themify($themes) {
    position: relative;
    background-color: themed('background-color');

    &__bg {
      position: relative;
      background-image: url('/testimonial-bg.jpg');
      background-repeat: repeat;
      clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - (100% / tan(83deg))),
        0 100%
      );

      @include media-breakpoint-down(sm) {
        clip-path: polygon(
          0 0,
          100% 0,
          100% calc(100% - (100% / tan(87deg))),
          0 100%
        );
      }

      &::after {
        content: '';
        height: 60px;
        width: 100%;
        background: #313131;
        position: absolute;
        left: 0;
        bottom: calc(100vw * 0.0225);
        transform: skewY(356.75deg);
        z-index: 3;
      }

      h1 {
        color: $white !important;
        font-size: clamp(2rem, 9.2vw, 4rem) !important;
        padding-bottom: 40px;
        margin-bottom: 40px;
        position: relative;
        text-align: center;
        padding-top: clamp(2rem, 10vw, 10rem);

        @include media-breakpoint-down(md) {
          margin-bottom: 0;
        }

        &::after {
          content: '';
          text-align: center;
          position: absolute;
          width: 100px;
          height: 20px;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, 100%);
          background-image: url('/red-curved-line.png');
          background-repeat: no-repeat;
          background-size: clamp(50px, 7vw, 100px) auto;

          @include media-breakpoint-down(md) {
            background-position: center top;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }

    &__slider {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      transition: all 0.5s ease-out;
    }

    &__bottom-section {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 10rem;
      color: themed('text-color');

      p {
        font-weight: $font-weight-medium;
        text-align: center;
        font-size: clamp(1em, 2vw, 2em);
        padding: 0 10px;
        color: themed('text-color');
      }
    }

    &__red-line-wrap {
      margin: 40px 0 100px;

      .red-line {
        background: url('/red-curved-line.png') no-repeat;
        width: 100px;
        height: 20px;
        background-size: 100px auto;
        text-align: center;
        left: 50%;
        margin-left: -50px;
        transform: translateX(-50%);
        position: relative;
        display: inline-block;
        opacity: 0;

        @include media-breakpoint-down(sm) {
          background-size: 60px auto;
          margin-left: -30px;
        }
      }

      @keyframes curvedRedLine {
        from {
          width: 0;
        }
        to {
          width: 100px;
        }
      }

      .side-in {
        transform: translateX(0) !important ;
        opacity: 1 !important;
        animation: curvedRedLine ease-in-out 1s;
      }
    }
  }
}
