.video-section {
  &__play-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &__play-icon {
    width: clamp(70px, 19.5vw, 140px);
    height: auto;
    color: $white;
    transform: translateY(-3px);
  }
}
